In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [2]:
%cd /content/drive/My Drive/THESIS/

/content/drive/My Drive/THESIS

# Read the datafile

In [7]:
import pandas as pd
#df = pd.read_csv("OUTPUT-OLLAMA/MODEL-METRICS-COMPARISON.csv")
df = pd.read_csv("OUTPUT NEW/MODEL-METRICS-COMPARISON BKP.csv")
df.reset_index(drop=True)
df.drop(['Unnamed: 0'],axis=1,inplace=True)
df

,metric,phi3-mean_value,phi3-median_value,phi3-mean_grouped_std_value,llama3.1-mean_value,llama3.1-median_value,llama3.1-mean_grouped_std_value,gemma2-mean_value,gemma2-median_value,gemma2-mean_grouped_std_value,mistral-nemo-mean_value,mistral-nemo-median_value,mistral-nemo-mean_grouped_std_value
0,entity_count_correctly_detected_pct,NaN,NaN,NaN,0.513582,0.500000,0.083523,0.623975,0.622024,0.067640,0.437132,0.388889,0.146799
1,entity_count_detected_pct,NaN,NaN,NaN,0.714831,0.687500,0.102014,0.984740,0.909091,0.121086,0.851616,0.750000,0.102841
2,entity_count_undetected_pct,NaN,NaN,NaN,0.486418,0.500000,0.083523,0.376025,0.377976,0.067640,0.562868,0.611111,0.146799
3,entity_count_wrongly_detected_pct,NaN,NaN,NaN,0.260747,0.250000,0.106250,0.351535,0.333333,0.083780,0.430251,0.408333,0.168384
4,rel_count_correctly_detected_skip_type_pct,NaN,NaN,NaN,0.106092,0.045455,0.064549,0.193392,0.133333,0.064486,0.059501,0.000000,0.028421
5,rel_count_detected_pct,NaN,NaN,NaN,0.580346,0.555556,0.103402,0.819143,0.777778,0.163493,0.855234,0.777778,0.158552
6,rel_count_entities_correctly_detected_pct,NaN,NaN,NaN,0.066678,0.000000,0.057053,0.136997,0.076923,0.060715,0.036225,0.000000,0.026232
7,rel_count_undetected_pct,NaN,NaN,NaN,0.933322,1.000000,0.057053,0.863003,0.923077,0.060715,0.963775,1.000000,0.026232
8,rel_count_undetected_skip_type_pct,NaN,NaN,NaN,0.893908,0.954545,0.064549,0.806608,0.866667,0.064486,0.940499,1.000000,0.028421
9,rel_count_wrongly_detected_pct,NaN,NaN,NaN,0.911285,1.000000,0.090671,0.843605,0.888889,0.086455,0.946346,1.000000,0.051887
10,rel_count_wrongly_detected_skip_type_pct,NaN,NaN,NaN,0.860441,0.888889,0.104750,0.781729,0.833333,0.087171,0.921842,1.000000,0.060597
11,time_taken_per_word,NaN,NaN,NaN,0.030361,0.030708,0.003538,0.050975,0.052453,0.007502,0.032479,0.030352,0.005452

# Means compared

In [8]:
mean_cols = [col_name for col_name in df.columns if col_name.endswith("-mean_value") or col_name == "metric"]

#df_mean  = df[["metric", "gemma-mean_value", "llama-mean_value","mistral-mean_value"]].copy()
df_mean  = df[mean_cols].copy()

In [9]:
import numpy as np

FUNC_MAP = {
    "entity_count_correctly_detected_pct"       : np.nanmax,
    "entity_count_detected_pct"					: np.nanmax,
    "entity_count_undetected_pct"				: np.nanmin,
    "entity_count_wrongly_detected_pct"			: np.nanmin,
    "rel_count_correctly_detected_skip_type_pct": np.nanmax,
    "rel_count_detected_pct"					: np.nanmax,
    "rel_count_entities_correctly_detected_pct" : np.nanmax,
    "rel_count_undetected_pct"					: np.nanmin,
    "rel_count_undetected_skip_type_pct"		: np.nanmin,
    "rel_count_wrongly_detected_pct"            : np.nanmin,
    "rel_count_wrongly_detected_skip_type_pct"  : np.nanmin,
    "time_taken_per_word"                       : np.nanmin
}

from numbers import Number
def highlight(s, function_map={}, color=''):
    func = function_map[s[0]]
    max = func(
                [val for val in s.values if isinstance(val, Number)]
                 )
    return np.where(s==max, color, '')

df_mean.style.apply(highlight, axis=1, function_map=FUNC_MAP, color='background-color:lightgreen;')

/tmp/ipykernel_1776496/769376454.py:20: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  func = function_map[s[0]]

# Medians compared

In [10]:
median_cols = [col_name for col_name in df.columns if col_name.endswith("-median_value") or col_name == "metric"]
#df_median  = df[["metric", "gemma-median_value", "llama-median_value","mistral-median_value"]].copy()
df_median  = df[median_cols].copy()

df_median.style.apply(highlight, axis=1, function_map=FUNC_MAP, color='background-color:lightgreen;')

/tmp/ipykernel_1776496/769376454.py:20: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  func = function_map[s[0]]

# Standard Deviations compared

In [11]:
std_cols = [col_name for col_name in df.columns if col_name.endswith("-mean_grouped_std_value") or col_name == "metric"]

#df_std = df[["metric", "gemma-mean_grouped_std_value", "llama-mean_grouped_std_value","mistral-mean_grouped_std_value"]].copy()
df_std = df[std_cols].copy()

def highlight_min(s, color=''):
    min = np.nanmin(
                [val for val in s.values if isinstance(val, Number)]
                 )
    return np.where(s==min, color, '')

df_std.style.apply(highlight_min, axis=1, color='background-color:lightgreen;')